


<ul class="list-group">
    <li class="list-group-item"><a href="/Categories/Create"><span class="fa fa-plus"></span> AddCategory</a></li>
    <li class="list-group-item"><a href="/Categories/index"><span class="fa fa-eye "></span> ShowAllCategories</a></li>
    <li class="list-group-item"><a href="/Categories/index"><span class="fa fa-eye"></span>SearchCategories</a></li>
    <li class="list-group-item"><a href="/SystemUsers/LogOut">LogOut</a></li>
</ul>