
<ul class="list-group">
    <li class="list-group-item"><a href="/Products/Create"><span class="fa fa-plus"></span> AddProduct</a></li>
    <li class="list-group-item"><a href="/Products/index"><span class="fa fa-eye "></span> ShowAllProducts</a></li>
    <li class="list-group-item"><a href="/Products/index"><span class="fa fa-eye"></span>SearchProducts</a></li>
    <li class="list-group-item">LogOut</li>
</ul>