


    <ul class="list-group">
        <li class="list-group-item"><a href="/SystemUsers/Create"><span class="fa fa-plus"></span> AddUser</a></li>
        <li class="list-group-item"><a href="/SystemUsers/index"><span class="fa fa-eye "></span> ShowAllUsers</a></li>
        <li class="list-group-item"><a href="/SystemUsers/index"><span class="fa fa-eye"></span>SearchUsers</a></li>
        <li class="list-group-item">LogOut</li>
    </ul>